<nav aria-label="breadcrumb">
  <ol class="breadcrumb ps-5 py-3 bg-light">
    <li class="breadcrumb-item"><a class="text-decoration-none text-dark fw-semibold" routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a class="text-decoration-none text-dark  fw-semibold" routerLink="/pages/automotive">Automotive Service</a></li>
    <li class="breadcrumb-item"><a class="text-decoration-none text-dark  fw-semibold" routerLink="/home">Store List</a></li>
    <li class="breadcrumb-item active fw-semibold text-primary" aria-current="page">Store Details</li>
  </ol>
</nav>
<div class="bg-light">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12">
        <div class="store-banner ">
          <img src="./assets/store-details/store-banner.png" alt="store-image" class="store-image border border-4">
        </div>
      </div>

      <div class="col-md-12">
        <div class="row m-4">
          <div class="col-md-8">

            <!------------store name------>
            <div class="bg-white rounded-3">
              <div class="store-name py-3 px-3">
                <h3 class="fw-bold">SKY Automobiles Service Center</h3>
                <p class="text-secondary fw-semibold">Powerfull Equipments</p>
                <p class="text-secondary fs-6 text-uppercase">car &#10072; bike &#10072; van &#10072; truck &#10072; bus
                </p>
              </div>
            </div>
            <!---------------------------->

            <!----store location and oawner details-->
            <div class="bg-white rounded-3 mt-3 py-3 ">
              <h4 class="fw-semibold pt-2 ps-4 text-secondary"><i class="fa fa-file-text" aria-hidden="true"></i>
                &nbsp;Overview</h4>
              <hr>
              <div class="row mt-4 store-details">
                <div class="col-md-4 text-center">
                  <i class="fa fa-2x fa-user-o" aria-hidden="true"></i>
                  <p class="text-secondary fw-semibold mb-0">Owner</p>
                  <p class="fw-semibold text-dark">Mohammed Ubaidullah</p>
                </div>
                <div class="col-md-4 text-center">
                  <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                  <p class="text-secondary fw-semibold mb-0">Location</p>
                  <p class="fw-semibold text-dark">Aavadi, Chennai</p>
                </div>
                <div class="col-md-4 text-center">
                  <i class="fa fa-2x fa-address-book-o" aria-hidden="true"></i>
                  <p class="text-secondary fw-semibold mb-0">Contact</p>
                  <p class="fw-semibold text-dark">+91 893 979 9975</p>
                </div>
              </div>
            </div>
            <!----------------------------------------------->


            <!----------------------------Description---------------------->
            <div class="bg-white rounded-3 mt-3 py-3 ">
              <h4 class="fw-semibold pt-2 ps-4"><i class="fa fa-list" aria-hidden="true"></i> &nbsp;Description</h4>
              <hr>
              <div class="row mt-4 px-4 store-Description">
                <div class="col-md-12">
                  <p class="store-desc-name fst-italic fw-bold text-secondary">Sky Automobiles Service Center</p>
                  <p class="text-secondary fw-semibold store-desc-details">
                    We offer full range of garage services to vehicle owners in Chennai. Our professionals know how to
                    handle a wide range of Vehicle services. Whether you drive a passenger car or medium sized truck or
                    SUV,
                    our mechanics strive to ensure that your vehicle will be performing at its best before leaving our
                    Vehicle shop. Whether you drive a medium sized truck or passenger car or SUV, our mechanics strive
                    to
                    ensure. We are one of the leading auto repair shops serving customers in Chennai.
                    All mechanic services are performed by highly qualified mechanics.
                  </p>

                  <p class="store-desc-hours fst-italic text-decoration-underline fw-bold text-secondary">Store Opening
                    and Closing hours</p>
                  <div class="g-3">
                    <p class="fw-semibold text-secondary">Monday : 10:00 AM to 07:00 PM </p>
                    <p class="fw-semibold text-secondary">Tuesday : 10:00 AM to 07:00 PM </p>
                    <p class="fw-semibold text-secondary">Wednesday : 10:00 AM to 07:00 PM </p>
                    <p class="fw-semibold text-secondary">Thursday : 10:00 AM to 07:00 PM </p>
                    <p class="fw-semibold text-secondary">Friday : 10:00 AM to 07:00 PM </p>
                    <p class="fw-semibold text-secondary">Saturday : 10:00 AM to 07:00 PM </p>
                    <p class="fw-semibold text-secondary">Sunday : closed </p>
                  </div>
                </div>
              </div>
            </div>
            <!------------------------------------------->
          </div>

          <div class="col-md-4 position-sticky">
            <!-----------details----->
            <div class="bg-white rounded-3 py-3 ">
              <h4 class="fw-semibold pt-2 text-secondary ps-4"><i class="fa fa-info-circle" aria-hidden="true"></i>
                &nbsp;Details</h4>
              <hr>
              <div class="row store-Details">
                <div class="col-md-3 text-center">
                  <img src="./assets/store-details/store-banner.png" alt="store-image"
                    class="rounded-pill sub-img border border-4" width="60" height="60">
                </div>
                <div class="col-md-9">
                  <!--  -->
                  <h5 class="fw-semibold pt-3">SKY Automobiles Service <i class="fa fa-chevron-right"
                      aria-hidden="true"></i></h5>

                </div>
                <div class="col-md-12 mt-4 text-center">
                  <button type="button" class="btn btn-size fw-bold btn-outline-primary"><i class="fa fa-calendar"
                      aria-hidden="true"></i>&nbsp; Make an Appoinment</button> <br>
                  <a href="https://wa.me/918939799975" target="_blank"> <button type="button"
                      class="btn mt-3 btn-size fw-bold btn-outline-success"><i class="fa fw-bold fa-whatsapp"
                        aria-hidden="true"></i>&nbsp; Chat with Store Owner</button></a>
                </div>
              </div>
            </div>
            <!------------------------------------------->

            <!---------------------------map-------------->
            <div class="bg-white rounded-3 py-3 mt-3">
              <h4 class="fw-semibold pt-2 text-secondary ps-4"><i class="fa fa-location-arrow" aria-hidden="true"></i>
                &nbsp;Direction</h4>
              <hr>
              <div class="row store-route">
                <div class="col-md-12">
                  <iframe class="px-2 map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62172.22456566656!2d80.04758588685785!3d13.114129426731978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5289d19bef6d25%3A0xe575e8ba16808e64!2sAvadi%2C%20Tamil%20Nadu%2C%20India!5e0!3m2!1sen!2sae!4v1681851034173!5m2!1sen!2sae"
                    height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
            <!-------------------------------------->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
