<app-header></app-header>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb ps-5 py-3 bg-light">
    <li class="breadcrumb-item"><a class="text-decoration-none text-dark fw-semibold" routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a class="text-decoration-none text-dark  fw-semibold"
        routerLink="/pages/automotive">Automotive Service</a></li>
    <li class="breadcrumb-item"><a class="text-decoration-none text-dark  fw-semibold" routerLink="/home">Car
        Service</a></li>
    <li class="breadcrumb-item active fw-semibold text-primary" aria-current="page">Store List</li>
  </ol>
</nav>
<div class="bg-light">
  <div class="container">
    <div class="row">
      <!---------------------Filter-Page----->
      <div class="col-md-3 mt-5">
        <div class="sticky-top">
          <div class="filter-details bg-white rounded-3 pb-2">
            <p class="fw-bold ps-3 pt-3"><i class="fa fa-filter" aria-hidden="true"></i> &nbsp; All Filters</p>
            <hr>
            <div class="filter-title ps-3 mt-2">
              <p class="fw-bold mb-1">Residential Service</p>
              <div class="form-check" *ngFor="let resident of residential">

                <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                  value="{{resident.type}}" (change)="residence($event)">
                <label class="form-check-label fw-semibold mb-1" for="flexRadioDefault2">
                  {{resident.name}}
                </label>
              </div>
            </div>
          </div>
          <!---------------------------->

          <!--------------------------sort-page------------------------->
          <div class="filter-details bg-white rounded-3 mt-2 pb-2" *ngFor="let service of service_type">
            <p class="fw-bold ps-3 pt-3"><i class="fa fa fa-cogs" aria-hidden="true"></i> &nbsp;{{service.type}} Service</p>
            <hr>
            <div class="filter-title ps-3 mt-1">
              <div class="form-check mb-2" *ngFor="let plumber of Plumber_service">

                <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault2" value="">
                <label class="form-check-label fw-semibold " for="flexRadioDefault2">
                  {{plumber.name}}
                </label>
              </div>
            </div>
          </div>

          <!--------------------service types-->
          <!--------------------------sort-page------------------------->
          <div class="filter-details bg-white rounded-3 mt-2 pb-2">
            <p class="fw-bold ps-3 pt-3"><i class="fa fa fa-sort" aria-hidden="true"></i> &nbsp; Sort By</p>
            <hr>
            <div class="filter-title ps-3 mt-1">
              <div class="form-check mb-2">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="">
                <label class="form-check-label fw-semibold " for="flexRadioDefault2">
                  Likes
                </label>
              </div>

              <div class="form-check mb-1">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="">
                <label class="form-check-label fw-semibold " for="flexRadioDefault2">
                  Views
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="">
                <label class="form-check-label fw-semibold " for="flexRadioDefault2">
                  Appoinments
                </label>
              </div>
            </div>
          </div>
          <!---------------------end------------>
        </div>
      </div>
      <!--------------------------------------->


      <!---------------------Details-Page----->
      <div class="col-md-9">

        <!-----------details-page-header------->
        <div class="row">
          <div class="col-md-12 py-2 mt-5 ">
              <div class="row border border-2 me-1 py-2">
                <div class="col-md-6">
                  <p class="text-danger fw-bold pt-2">Total Businesses in your Area - 123</p>
                </div>
                <div class="col-md-3 text-center">
                  <p class="text-primary fw-bold pt-2">For Marketing- <a href="" class="text-decoration-none">Contact us</a>
                  </p>
                </div>
                <div class="col-md-3 text-center">
                 <button class="btn btn-danger fw-bold" type="button" (click)="toggleTag()"
                    title="Incase Your Favourite Store is not show in the website please fill the form we will contact the store soon as possible"
                    style="cursor: pointer;" > List
                    Your Service
                    Here</button>

                </div>
              </div>

          </div>

          <!--------------------end------------>

          <div class="col-md-9">
            <div class="bg-white rounded-3 row mb-2 py-3" *ngFor="let detail of details">
              <!-- *ngFor="let detail of details"> -->

              <div class="col-md-3 mx-auto my-auto rounded-3">
                <div class="store-img">
                  <img src="./assets/Residential/plumber.png" alt="" class="store-img-size">
                </div>
              </div>
              <div class="col-md-5">
                <div class="store-name py-3 px-2">
                  <h6 class="fw-bold">Max Plumbing Service</h6>
                  <p class="text-secondary fw-semibold my-0">Highly Professional Staff</p>
                  <p class="text-secondary  mb-0 fw-semibold">Location: Tvs Tolgate, Trichy</p>
                  <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span class="text-secondary"> 4.5</span>
                  </div>

                </div>

              </div>
              <div class="col-md-4 text-center my-auto border border-2 border-top-0 border-bottom-0 border-end-0 ">
                <button type="button" class="btn btn-size fw-bold btn-primary "><i class="fa fa-calendar"
                    aria-hidden="true"></i>&nbsp; Appoinment
                </button> <br> <br>


                <button type="button" class="btn btn-size fw-bold btn-outline-danger" (click)="views(detail)"
                  routerLink="/store-details/automotive-store-details"><i class="heart fa fa-address-card-o"
                    aria-hidden="true"></i>&nbsp;
                  View Store &nbsp;
                </button>
              </div>

              <div class="col-md-4 text-center fw-semibold col-4">
                <span (click)="increase(detail)"><i class="fa fa-heart-o" aria-hidden="true"
                    [class.highlighted]="isActive" (click)="onClick()"></i>
                </span>
                {{detail.quantity}} Likes
              </div>
              <div class="col-md-4 text-center fw-semibold col-4">
                <span> <i class="fa fa-eye" aria-hidden="true"></i></span>
                {{detail.views}} Views
              </div>
              <div class="col-md-4 text-center fw-semibold col-4">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                32 Appoinment
              </div>

            </div>
          </div>
          <!---------------------------->

          <!---------------------Ad-Page----->
          <div class="col-md-3 ad-logo">
            <div class="sticky-top">
              <div class="shopping-cart rounded-3 bg-white mb-3" *ngIf="showMe">
                <p class="text-primary text-center">Please fill below form</p>
                <div class="box mx-3">
                  <form class="row g-3 form-size">
                    <div class="col-12">
                      <label for="formGroupExampleInput2" class="form-label">Enter Name</label>
                      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Ex: John Harry">
                    </div>
                    <div class="col-12">
                      <label for="inputEmail4" class="form-label">Enter Email</label>
                      <input type="email" class="form-control" id="inputEmail4" placeholder="Ex: info@gmail.com">
                    </div>

                    <div class="col-12">
                      <label for="inputEmail4" class="form-label">Enter Phone no</label>
                      <div class="input-group">
                        <div class="input-group-text">+91</div>
                        <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="999 99 999">
                      </div>
                    </div>
                    <div class="col-12">
                      <label for="inputState" class="form-label">Enter State</label>
                      <select id="inputState" class="form-select">
                        <option selected>Choose...</option>
                        <option>...</option>
                      </select>
                    </div>

                    <div class="col-12">
                      <label for="inputState" class="form-label">Enter City</label>
                      <select id="inputState" class="form-select">
                        <option selected>Choose...</option>
                        <option>...</option>
                      </select>
                    </div>
                    <div class="col-12">
                      <label for="formGroupExampleInput2" class="form-label">Enter Store Name</label>
                      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Ex: John Harry">
                    </div>
                    <div class="col-12">
                      <label for="inputEmail4" class="form-label">Enter Store Email</label>
                      <input type="email" class="form-control" id="inputEmail4" placeholder="Ex: info@gmail.com">
                    </div>

                    <div class="col-12">
                      <label for="inputEmail4" class="form-label">Enter Store Phone no</label>
                      <div class="input-group">
                        <div class="input-group-text">+91</div>
                        <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="999 99 999">
                      </div>
                    </div>
                    <div class="col-12">
                      <label for="inputAddress" class="form-label">Address 1</label>
                      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="col-12">
                      <label for="inputAddress2" class="form-label">Address 2</label>
                      <input type="text" class="form-control" id="inputAddress2"
                        placeholder="Apartment, studio, or floor">
                    </div>
                  </form>
                  <div class="col-12 py-2 text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </div>
              <div class="bg-white rounded-3 py-3 ">
                <img src="./assets/store-details/Add_1.png" alt="ad-1" class="img-size">
              </div>
              <div class="bg-white rounded-3 py-3 mt-2">
                <img src="./assets/store-details/Add_2.png" alt="ad-1" class="img-size">
              </div>
              <div class="bg-white rounded-3 py-3 mt-2 ">
                <img src="./assets/store-details/Add_3.png" alt="ad-1" class="img-size">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-------------------->
    </div>
  </div>
</div>



<!-- ----------------------------------------------footer---------------------------------------------------->

<footer class="text-center text-lg-start pt-1 bg-light">

  <section class="mb-0">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Services Request</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p>
            <a href="#!" class="text-secondary fw-semibold text-decoration-none">Auto Service is a new age multi-brand vehicle service center established in the year
              of 2023. we have pride ourselves in offering our customers with standarized services at a competitive
              price.our young energetic and genius team's sole purpose is to achieve the highest level of customer
              satification by making an easy and quality experience.</a>
          </p>

        </div>

        <div class="col-md-3 mx-auto mb-4  fw-semibold">
          <h6 class="text-uppercase fw-bold">Top Services</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
<p>
            <a href="#!" class="text-secondary fw-semibold text-decoration-none">plumber</a>
          </p>
          <p>
            <a href="#!" class="text-secondary text-decoration-none">Painter</a>
          </p>
          <p>
            <a href="#!" class="text-secondary text-decoration-none">Construction</a>
          </p>
          <p>
            <a href="#!" class="text-secondary text-decoration-none">Catering</a>
          </p>
          <p>
            <a href="#!" class="text-secondary text-decoration-none">Cleaner</a>
          </p>


        </div>
        <div class="col-md-3 mx-auto mb-4 fw-semibold">
          <h6 class="text-uppercase fw-bold ">Useful Links</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p>
            <a href="#!" class="text-secondary text-decoration-none">Home</a>
          </p>
          <p>
            <a href="#!" class="text-secondary text-decoration-none">About</a>
          </p>
          <p>
            <a href="#!" class="text-secondary text-decoration-none">Sales</a>
          </p>
          <p>
            <a href="#!" class="text-secondary text-decoration-none">Service</a>
          </p>
          <p>
            <a href="#!" class="text-secondary text-decoration-none">Contact Us</a>
          </p>

        </div>


        <div class="col-md-3 mx-auto mb-4 text-dark fw-semibold">
          <h6 class="text-uppercase fw-bold">Contact Us</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p>
            <a href="#!" class="text-secondary text-decoration-none"> +91 893 979 9975</a>
          </p>
          <p>
            <a href="#!" class="text-secondary text-decoration-none"> infoonclick22@gmail.com</a>
          </p>
          <p>
            <a href="#!" class="text-secondary text-decoration-none">Chennai, Tamilnadu
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <div class="text-center fw-bold pb-3">
    © 2023 Copyright:
    <a class="text-dark text-decoration-none" href="https://infoonclick.com/">Services Request.com</a> All Rights Reserved.
    Developed By: <a class="text-dark text-decoration-none" href="https://infoonclick.com/">Info Onclick</a>
  </div>
</footer>

