

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #276B6A;
  --first-color-light: #afa5d9;
  --white-color: #f7f6fb;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 3rem 0 0 0;
  padding: 0 1rem;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  transition: 0.5s;
}
a {
  text-decoration: none;
}
.header {
  width: 100%;
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: #f7f6fb;
  z-index: 100;
  transition: 0.5s;
}
.header_toggle {
  color: #276B6A;
  font-size: 1.5rem;
  cursor: pointer;
}
.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
.header_img img {
  width: 40px;
}
.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: 68px;
  height: 100vh;
  background-color: #276B6A;
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: 100;
}
.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.5rem 0 0.5rem 1.4rem;
}
.nav_logo {
  margin-bottom: 1rem;
}
// .nav_logo-icon {
//   font-size: 1.25rem;
//   color: #f7f6fb;
// }
.nav_logo-name {
  color: #f7f6fb;
  font-weight: 700;
}
.nav_name{
  padding-left: 10px;
}
.nav_link {
  position: relative;
  color: #afa5d9;
  margin-bottom: 1.5rem;
  transition: 0.3s;
}
.nav_link:hover {
  color: #f7f6fb;
}
.nav_icon {
  font-size: 1.25rem;
}
.show {
  left: 0;
}
.body-pd {
  padding-left: calc(70px + 1rem);
}
.active {
  color: #f7f6fb;
}
.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: #f7f6fb;
}
.height-100 {
  height: 100vh;
}
@media screen and (min-width: 768px) {
  body {
    margin: calc(3rem + 1rem) 0 0 0;
    padding-left: calc(68px + 2rem);
  }
  .header {
    height: calc(3rem + 1rem);
    padding: 0 2rem 0 calc(68px + 2rem);
  }
  .header_img {
    width: 40px;
    height: 40px;
  }
  .header_img img {
    width: 45px;
  }
  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  .show {
    width: calc(68px + 156px);
  }
  .body-pd {
    padding-left: calc((68px + 188px));
  }
}

// .lawyer-logo{
//     width: 140px;
//     height:80px;
// }

// .nav:hover{
// cursor: pointer;
// background-color: #ffc107;
// border-radius: 5px;
// color: white !important;
// padding: 5px;
// width: 60px;
// }
// .card,.shape{
//     box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
// }

// .img-fluid{
//     width: 110px;
//     padding: 10px;
//     border-radius: 50%;
//     background-color: grey;
// }
// .btn-1{
//     background-color: #223a66;
//     border-radius: 5px;
// }
// .text-bg{
//     cursor:pointer;
//     background-color: #223a66;
//     border-radius: 5px;
// }
// .text:hover{
//     cursor:pointer;
//     background-color: #223a66;
//     border-radius: 5px;
//     color: white;
// }
