<body>
  <form  class="form"  >
    <!-- [formGroup]="signup" #signupForm="ngForm" -->
    <!-- <h1 class="text-center">Registration Form</h1> -->
    <!-- Progress bar -->
    <div class="progressbar">
      <div class="progress" id="progress"></div>
      
      <div
        class="progress-step progress-step-active"
        data-title="Intro"
      ></div>
      <div class="progress-step" data-title="Locality"></div>
      <div class="progress-step" data-title="Password"></div>
      <div class="progress-step" data-title="Terms & Condition"></div>
    </div>

    <!-- Steps -->
    <div class="form-step form-step-active">
      <div class="input-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" formControlName="name" required/>
      </div>
      <div class="input-group">
        <label for="position">Address1</label>
        <input type="text" name="position" id="position" formControlName="address1" required/>
      </div>
      <div class="input-group">
        <label for="position">Address2</label>
        <input type="text" name="position" id="position"formControlName="address2" required />
      </div>
      <div class="input-group">
        <label for="position">Pincode</label>
        <input type="number" name="position" id="position" formControlName="pincode" minlength="6" maxlength="6"/>
      </div>
      <div class="btns-group">
        <a class="btn btn-next width-50 ml-auto">Next</a>
      </div>
    </div>
    <div class="form-step">
      <div class="input-group">
        <label for="yourGender" >Country</label>
        
          <select class="custom-select" id="yourGender" formControlName="countryid"
            >
            <!-- (change)="getstate()" -->
            <option disabled slected hidden>Select Country</option>
            <!-- <option vlaue="male">Male</option>
                <option vlaue="female">Female</option> -->
            <option value="{{item.countryid}}" *ngFor="let item of countries">{{item.name}}</option>

          </select>
          <div class="invalid-feedback">Please choose a Country.</div>
        
      </div>
      <div class="input-group">
        <label for="yourGender" >State</label>
        
          <select class="custom-select" id="yourGender" formControlName="stateid">
            <!-- (change)="getcity()" -->
            <option disabled selected hidden>Select State</option>
            <!-- <option vlaue="male">Male</option>
                <option vlaue="female">Female</option> -->
            <option value="{{item.stateid}}" *ngFor="let item of states">{{item.name}}</option>

          </select>
          <div class="invalid-feedback">Please choose a State.</div>
        
      </div>
      <div class="input-group">
        <label for="yourGender">City</label>
        
          <select class="custom-select" id="yourGender" formControlName="cityid">
            <option disabled selected hidden>Select City</option>
            <!-- <option vlaue="male">Male</option>
                <option vlaue="female">Female</option> -->
            <option value="{{item.cityid}}" *ngFor="let item of cities">{{item.name}}</option>

          </select>
          <div class="invalid-feedback">Please choose a City.</div>
        
      </div>
      <div class="btns-group">
        <a class="btn btn-prev">Previous</a>
        <a class="btn btn-next">Next</a>
      </div>
    </div>
    <div class="form-step">
      <div class="input-group">
        <label for="confirmPassword">Email</label>
        <input
          type="email"
          name="confirmPassword" formControlName="email"
          id="confirmPassword" required
        />
      </div>
      <div class="input-group">
        <label for="confirmPassword">Mobile No1 <b>(OTP)</b></label>
        <input
          type="number"
          name="confirmPassword" formControlName="phone_otp"
          id="confirmPassword"
        />
      </div>
      <div class="input-group">
        <label for="confirmPassword">Mobile No2 </label>
        <input
          type="number"
          name="confirmPassword" formControlName="phone2"
          id="confirmPassword"
        />
      </div>
      <div class="input-group">
        <label for="password">Password
        </label>
        <input type="password" name="password" id="password" formControlName="password" pattern="(?=.\d)(?=.[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"  required />
        <i class="fa fa-eye" (click)="openPassword()"></i>
      </div>
      <div class="btns-group">
        <a class="btn btn-prev">Previous</a>
        <a  class="btn btn-next">Next</a>
      </div>
    </div>
    <div class="form-step">
     
      <div class="input-group">
        <label for="confirmPassword">By clicking this you were acepting our privacy policy ,Terms & Condition </label>
        <input
          type="checkbox"
          name="confirmPassword"
          id="checkbox"
          
        />
      </div>
      <div class="btns-group">
        <a class="btn btn-prev">Previous</a>
        <input type="submit" value="Submit"  class="btn" />
        <!-- (click)="Register()" -->
      </div>
    </div>
    <div id="message">
      <h3>Password must contain the following:</h3>
      <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
      <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
      <p id="number" class="invalid">A <b>number</b></p>
      <p id="length" class="invalid">Minimum <b>8 characters</b></p>
    </div>
  </form>
</body>